streamlit==1.41.1
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
langchain-openai==0.2.7
langchain-text-splitters==0.3.5
chromadb==0.5.15
openai==1.54.4
python-dotenv==1.2.1
PyMuPDF==1.25.2
docx2txt==0.8
beautifulsoup4==4.13.3
tiktoken==0.8.0
pydantic==2.10.6
